.margem-botao {
    margin-top: 100px;
}

body{
    background: url('../imgs/bg_elemento1.png') no-repeat left 20px top 3000px,
                url('../imgs/bg_elemento4.png') no-repeat left -100px top 3800px,
                url('../imgs/bg_elemento2.png') no-repeat left 20px top 6700px,
                url('../imgs/bg_elemento4.png') no-repeat right -100px top 350px,
                url('../imgs/bg_elemento2.png') no-repeat right 20px top 1800px,
                url('../imgs/bg_elemento3.png') no-repeat right 20px top 2800px,
                url('../imgs/bg_elemento1.png') no-repeat right 20px top 6200px,
                url('../imgs/bg_elemento4.png') no-repeat right -100px top 11400px,
                url('../imgs/bg.png') no-repeat fixed;
                
}

h1, h2, h3, h4 {
    color: #2A8080;
    font-family: 'robotoregular', Arial , Verdana, Helvetica !important;
    font-weight: bold;
}


/*--------- GAITINHA ---------*/
.panel {
    background-color: transparent;
    box-shadow: none;
}
.panel-default {
    border: none;
}
.panel-heading {
    background-color: #2A8080 !important;
    border-radius: 25px;
    padding: 15px 30px;
}
.panel-heading h3 {
    color: #fff !important;
    font-size: 20px;
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
    border-left: #2A8080 solid 5px;
    margin-left: 30px;
    padding-right: 40px;
}
/*--------- /GAITINHA ---------*/

/*-------- TABELA --------*/
table.senac{
    border: #80392C solid 2px;
    margin-bottom: 0;
}
table.senac th{
    background-color: #ac372d;
}
table.senac td{
    background-color: #FFF;
    color: #80392C;
    border: #80392C solid 2px;
    vertical-align: top;
}
/*-------- /TABELA --------*/

.caixa-destaque{
    background-color: #80392C;
    color: #fff;
    margin: 50px auto;
}

.espera-video{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 20px;
    color: #fff;
    width: 640px;
    height: 360px;
    box-shadow: #333 5px 5px 6px;
    background-color: #292929;
    margin: 40px auto;
    position: relative;
    z-index: 5;
}

ul.marcador-asterisco li{
    list-style-image: url('../imgs/marcador.png');
}

.titulo-infografico{
    color: #2A8080;
}

.col-lg-6 .texto-infografico{
    margin: auto 0;
}

.texto-infografico{
    margin-top: 100px;
}


@media screen and (max-width: 1485px) {
    body{
        background: url('../imgs/bg.png') no-repeat fixed;
    }
    

    .texto-infografico{
        margin-left: 25%;
    }
}

@media screen and (max-width: 1485px) {

    .texto-infografico{
        margin-left: 0px;
    }
}

@media screen and (max-width: 480px) {
    .ilustracao{
        display: none;
    }
}
